.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    color: white;
}

.hero__arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
}

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}
