.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
} 
.container{
    
}
.hero {
    position: relative;
    text-align: center;
}



.footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}
