


/* Navbar Container */
.navbar__container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: start;
    /* Adjust spacing */
    top: 0;
    width: 100%;
    padding: 10px 20px;
    /* Adjust padding for smaller screens */
    z-index: 50;
    background:var( --base-color);
}

/* Logo */
.navbar__logo {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

.navbar__logo img {
    height: 40px;
    padding-bottom: 10px;
    translate: -5px 0px;
}

/* Navbar Menu */
.navbar__nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
}

/* Navbar List */
.navbar__nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__nav-list .icon {
  display: none;
}
.navbar__nav-item {
    margin-left: 4rem;
}

.navbar__nav-link {
    text-decoration: none;
    font-size: 18px;
    color: var(--accent-color);
}


.navbar__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    height: 24px; /* Ensure bars are spaced evenly */
    width: 30px;
}

.navbar__toggle .bar {
    background-color: var(--accent-color);
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease;
}



.hero__section {
    position: relative;
    margin-bottom: -8px;
    font-size: xx-large;

}

.hero__content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    padding: 0%;

}

.section {
    position: relative;
    margin-bottom: -8px;
}

.hero__background {
    width: 100%;
    height: 100vh;
}

.hero__logo {
    width: 150px;
    margin-bottom: -50px;
    margin-top: 100px
}

.hero_title {}

.hero__dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hero__dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #444;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero__dot.active {
    background-color: var(--accent-color);
    /* Highlighted color */
    border: 2px solid var(--accent-color);
    box-sizing: border-box;
}

.highlight {
    color: var(--accent-color);
}

.hero__description {
    font-weight: lighter;
    color: var(--text-color);
}



.about-us__section {
    position: relative;
    margin-bottom: -8px;
    height: 100vh;
    font-size: xx-large;
}


.about-us__background {
    width: 100%;
    height: 100vh;
}

.about-us__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    text-align: center;
    width: 85%;
     font-weight: lighter

}








.plans__section {
    height: 80vh;
    padding: 10vh 0px;
}

.plans__title {
    text-align: center;
    color: var(--secondary-text)
}

.plans__cards-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    height: 80%;
}


  
.plans__card-container-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--base-color);
    padding: 0px 0px 20px 0px;
    margin: 10px;
    width: 20%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px var(--shadow); /* Stronger shadow */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: var(--base-variant);
    position: relative;
    z-index: 1;
}


.plans__card-container-card-title {
    font-size: 1.2rem;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    z-index: -11;
    background-color: var(--base-variant);
    height: 20%;
    color:var(--accent-color);
}

.plans__card-container-card-description {

    color: var(--secondary-text);
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 0.9rem;
}


.plans__card-container-card-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.plans__card-container-card-list li {
    margin-bottom: 0.7rem;
    display: flex;
    width: max-content;
    justify-content: start;

    align-items: center;
    color: var(--secondary-text);

}

.plans__card-container-card-list i {
    padding-right: 1rem;
    color: var(--secondary-text);
}

.plans__card-container-card-list-info {
    color: var(--accent-color); 
       font-weight: bold;

}

.plans__card-container-card-price-button {
    background-color: var(--accent-color);
    color: var(--base-color);
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
   font-weight: bold;
}


.plans__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px 5px;
    
}

.plans__buttons-container-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    background-color: #f1f1f1;
    border: 1px solid;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}
.plans__buttons-container-line{
   border: 0.1px solid var(--primary-color);
    width: 12rem; 
}



  

  
  /* Register the --angle property */
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  /* Animated border */
  .plans__card-container-card::before {
    content: '';
    position: absolute;
    inset: 0; /* Cover the entire card */
    padding: 3px; /* Border thickness */
    border-radius: 10px; /* Rounded corners */
    background: conic-gradient(
      from var(--angle), 
      #ff4545, #00ff99, #58B8FA, #DC67C3, #f45353
    ); /* Animated gradient */
    
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0); /* Mask to reveal only border */
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
    z-index: -1;
    
    /* Apply the animation */
    animation: spin 3s linear infinite;
  }
  
  /* Spin animation for gradient */
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  

















.contact {
    height: 70vh;
    padding: 10vh 0px;
        box-shadow: 0 10px 20px var(--shadow); /* Stronger shadow */

}

.contact__title {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.contact__form {
    background-color: #f7f7f7;
    padding: 30px;
    width: 60%;
    margin: 20px auto;
 
    box-shadow: 0 10px 20px var(--shadow); /* Stronger shadow */
    text-align: center;

    border-radius: 1rem;
    
    background: var(--base-variant); /* Solid background */

    position: relative;
    z-index: 1;
}
.contact__form_info {
    background-color: var(--base-variant);
    color: --primary-color;
}

.contact__form h2 {
    margin-bottom: 20px;
}

.contact__form-row {
    display: flex;

    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
}

.conatct__button-container {
    display: flex;
    align-items: center;
}

.contact__button {
    background-color: var(--accent-color);
    color: var(--base-color);
    padding: 15px 30px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    font-weight: bold;
}

.contact__button:hover {
    background-color: #444;
}
  /* Animated border */
  .contact__form::before {
    content: '';
    position: absolute;
    inset: 0; /* Cover the entire card */
    padding: 3px; /* Border thickness */
    border-radius: 10px; /* Rounded corners */
    background: conic-gradient(
      from var(--angle), 
      #ff4545, #00ff99, #58B8FA, #DC67C3, #f45353
    ); /* Animated gradient */
    
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0); /* Mask to reveal only border */
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
    z-index: -1;
    
    /* Apply the animation */
    animation: spin 3s linear infinite;
  }
  
  /* Spin animation for gradient */
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  
.footer {
    background-color: var(--sec-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 85px;
}
